<section>
  <h2>Events you created</h2>

  <% @created_events.each do |event| %>
    <p>
      <%= event.name %>
      <%= event.event_date %>
    </p>
  <% end %>
</section>

<section>
  <h2>Events Calendar</h2>

  <h3>Upcoming Events</h3>
  <% @future_events.each do |event| %>
    <p>
        <%= event.name %>
    </p>
  <% end  %>

  <h3>Past Events</h3>
  <% @past_events.each do |event| %>
    <p>
        <%= event.name %>
    </p>
  <% end %>
</section>
